* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
}

#Parent_box {
  /* border: 2px solid red; */
  display: flex;
  text-align: center;
  padding-top: 1.6rem;
  width: 32.5rem;
  height: 20rem;
}

#child {
  border: 0px solid blue;
  width: 32rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* background: rgba(0, 0, 0, 0.5); */
}

#child legend {
  border: 1px solid black;
  height: 1.4rem;
  width: 8rem;
  background-color: rgb(97, 150, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: -2.4%;
}

#child legend p {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#child img {
  width: 100%;
  height: 25vh;
  margin-top: -2.4%;
  position: relative;
  z-index: -2;
  border: 0px solid orange;
  opacity: 0.3;
  /* background: rgba(0,0,0,0.5); */
}

.rating span {
  display: flex;
  text-align: center;
  padding-top: 5px;
  border: 0px solid red;
  background-color: #f4c430;
  width: 3rem;
  height: 2rem;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  position: relative;
  top: -6.7rem;
  left: 28rem;
}

.Best-College {
  border: 0px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -4.5rem;
}
.main-location {
  border: 0px solid red;
  display: flex;
  justify-content: space-around;
  width: 13rem;
}

.main-location span {
  border: 0px solid green;
  font-size: 15px;
  border-radius: 50px;
  background-color: #fff;
  padding: 1.3% 1%;
  color: gray;
}

.Best-College p {
  font-size: 14px;
  padding: 0.8% 1%;
  color: #fff;
}

.content {
  padding: 0 10px;
}

.FirstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -3.8rem;
  border: 0px solid black;
}
.FirstLine p {
  border: 0px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 16rem;
  font-size: 0.8rem;
  color: gray;
  font-weight: bold;
}

.Stars span {
  font-size: 8px;
}
.checked {
  color: black;
}

.price {
  text-decoration: line-through;
}

.FirstLine i {
  transform: rotate(-45deg);
  padding: 0 10px;
  color: red;
  font-size: 1rem;
}

.secondline {
  border: 0px solid red;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -3.8rem;
}

.secondline p {
  color: black;
  font-size: 0.8rem;
  font-weight: 545;
}

.secondline span {
  color: gray;
}

#Second-price {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  height: 2rem;
}
#Second-price span {
  color: red;
  font-size: 1.4rem;
  font-weight: 550;
  height: 2rem;
  padding-left: 2rem;
}

.third-line {
  position: relative;
  top: -4.3rem;
}

.text {
  color: gray;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.text p {
  color: #009b7d;
}
.Semister {
  color: gray;
  padding-left: 3.3rem;
}
.text span {
  font-weight: 555;
  color: #000;
}

.fourth-line {
  /* border:1px solid red; */
  position: relative;
  top: -3.8rem;
}
#sub-class {
  /* width:20rem; */
  display: flex;
  flex-direction: row;
}
.text2 {
  color: gray;
  display: flex;
  font-size: small;
  background-color: #20b2aa;
  width: 18rem;
  height: 1.3rem;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.text2 span {
  color: #000;
  font-weight: 555;
}

.text2 p {
  color: #009b7d;
  font-weight: 555;
}

.text2 solid {
  color: #23ecc4;
}

#Free-Wi-Fi {
  color: #009b7d;
  font-weight: 555;
  font-size: 0.7rem;
  position: relative;
  top: 3.6px;
  left: 72px;
}
